/KPackage.diagram
/KProject.diagram
/KProject/model/project.genmodel
/KProject/model/project.gmfgen
/KProject/model/project.gmfgraph
/KProject/model/project.gmfmap
/KProject/model/project.gmftool
/KProject/model/project.trace
/KPackage/model/package.gmfgen
/KPackage/model/package.gmfgraph
/KPackage/model/package.gmfmap
/KPackage/model/package.gmftool
/KPackage/model/package.trace
/KPackage/model/package.genmodel
/KPackage/bin
/KProject/bin
