<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="kragsteinmethod_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="kragsteinmethod_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/KragsteinMethodDiagramFile.gif"
         extensions="kragsteinmethod_diagram"
         default="true"
         class="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditor"
         matchingStrategy="KragsteinMethod.diagram.part.KragsteinMethodMatchingStrategy"
         contributorClass="KragsteinMethod.diagram.part.KragsteinMethodDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="KragsteinMethod.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/KragsteinMethodDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="KragsteinMethod.diagram.part.KragsteinMethodCreationWizard"
  	     id="KragsteinMethod.diagram.part.KragsteinMethodCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="KMethod.diagram.InitDiagram"
            nameFilter="*.kragsteinmethod"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="KragsteinMethod.diagram.part.KragsteinMethodInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="KMethod.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="KragsteinMethodPresentation">
         <Priority name="Lowest"/>
         <ViewId id="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="KragsteinMethodPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="KragsteinMethodPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="KragsteinMethodRender">
         <Priority name="Lowest"/>
         <ViewId id="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="KragsteinMethod.diagram.providers.KragsteinMethodMarkerNavigationProvider">
         <MarkerType name="KMethod.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="KragsteinMethod Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="KragsteinMethod.diagram.providers.KragsteinMethodValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="KragsteinMethod.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="KMethod.diagram.general"
            name="%prefpage.KMethod.diagram.general"
            class="KragsteinMethod.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="KMethod.diagram.appearance"
            name="%prefpage.KMethod.diagram.appearance"
            category="KMethod.diagram.general"
            class="KragsteinMethod.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="KMethod.diagram.connections"
            name="%prefpage.KMethod.diagram.connections"
            category="KMethod.diagram.general"
            class="KragsteinMethod.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="KMethod.diagram.printing"
            name="%prefpage.KMethod.diagram.printing"
            category="KMethod.diagram.general"
            class="KragsteinMethod.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="KMethod.diagram.rulersAndGrid"
            name="%prefpage.KMethod.diagram.rulersAndGrid"
            category="KMethod.diagram.general"
            class="KragsteinMethod.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="KMethod.diagram"
            labelProvider="KragsteinMethod.diagram.sheet.KragsteinMethodSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="KMethod.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="KMethod.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="KragsteinMethod.diagram.sheet.KragsteinMethodPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="KragsteinMethod.diagram.navigator.KragsteinMethodAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="KragsteinMethod.diagram.providers.KragsteinMethodViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="KragsteinMethod"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="KragsteinMethod"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003,4004,4005,4006"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="KragsteinMethod.diagram.providers.KragsteinMethodEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="KragsteinMethod"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003,4004,4005,4006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfMethodEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.MethodEditPart" id="Method_1000"/>
         <context elements="Method_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfHeaderEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.HeaderEditPart" id="Header_2001"/>
         <context elements="Header_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfBranchEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.BranchEditPart" id="Branch_2002"/>
         <context elements="Branch_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfRouteEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.RouteEditPart" id="Route_3001"/>
         <context elements="Route_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfActionEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.ActionEditPart" id="Action_3002"/>
         <context elements="Action_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfQuestionEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.QuestionEditPart" id="Question_3003"/>
         <context elements="Question_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfChoiceEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.ChoiceEditPart" id="Choice_3004"/>
         <context elements="Choice_3004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfCaseEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.CaseEditPart" id="Case_3005"/>
         <context elements="Case_3005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfHeadlineEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.HeadlineEditPart" id="Headline_3006"/>
         <context elements="Headline_3006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfAdressEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.AdressEditPart" id="Adress_3007"/>
         <context elements="Adress_3007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfInsertionEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.InsertionEditPart" id="Insertion_3008"/>
         <context elements="Insertion_3008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfShelfEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.ShelfEditPart" id="Shelf_3009"/>
         <context elements="Shelf_3009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfBeginLoopEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.BeginLoopEditPart" id="BeginLoop_3010"/>
         <context elements="BeginLoop_3010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfEndLoopEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.EndLoopEditPart" id="EndLoop_3011"/>
         <context elements="EndLoop_3011"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfOutputEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.OutputEditPart" id="Output_3012"/>
         <context elements="Output_3012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfInputEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.InputEditPart" id="Input_3013"/>
         <context elements="Input_3013"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfLoopArrowEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.LoopArrowEditPart" id="LoopArrow_3014"/>
         <context elements="LoopArrow_3014"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfEmptyConnectorEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.EmptyConnectorEditPart" id="EmptyConnector_3015"/>
         <context elements="EmptyConnector_3015"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="KragsteinMethod.diagram.providers.assistants.KragsteinMethodModelingAssistantProviderOfEndEditPart">
         <Priority name="Lowest"/>
         <object class="KragsteinMethod.diagram.edit.parts.EndEditPart" id="End_3016"/>
         <context elements="End_3016"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="KragsteinMethod.diagram.providers.KragsteinMethodIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="KragsteinMethod.diagram.providers.KragsteinMethodParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="KragsteinMethod.diagram.providers.KragsteinMethodShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Method_1000"
               name="%metatype.name.Method_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Method"
               edithelper="KragsteinMethod.diagram.edit.helpers.MethodEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Header_2001"
               name="%metatype.name.Header_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Header"
               edithelper="KragsteinMethod.diagram.edit.helpers.HeaderEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Branch_2002"
               name="%metatype.name.Branch_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Branch"
               edithelper="KragsteinMethod.diagram.edit.helpers.BranchEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Route_3001"
               name="%metatype.name.Route_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Route"
               edithelper="KragsteinMethod.diagram.edit.helpers.RouteEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Action_3002"
               name="%metatype.name.Action_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Action"
               edithelper="KragsteinMethod.diagram.edit.helpers.ActionEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Question_3003"
               name="%metatype.name.Question_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Question"
               edithelper="KragsteinMethod.diagram.edit.helpers.QuestionEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Choice_3004"
               name="%metatype.name.Choice_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Choice"
               edithelper="KragsteinMethod.diagram.edit.helpers.ChoiceEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Case_3005"
               name="%metatype.name.Case_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Case"
               edithelper="KragsteinMethod.diagram.edit.helpers.CaseEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Headline_3006"
               name="%metatype.name.Headline_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Headline"
               edithelper="KragsteinMethod.diagram.edit.helpers.HeadlineEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Adress_3007"
               name="%metatype.name.Adress_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Adress"
               edithelper="KragsteinMethod.diagram.edit.helpers.AdressEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Insertion_3008"
               name="%metatype.name.Insertion_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Insertion"
               edithelper="KragsteinMethod.diagram.edit.helpers.InsertionEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Shelf_3009"
               name="%metatype.name.Shelf_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Shelf"
               edithelper="KragsteinMethod.diagram.edit.helpers.ShelfEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.BeginLoop_3010"
               name="%metatype.name.BeginLoop_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BeginLoop"
               edithelper="KragsteinMethod.diagram.edit.helpers.BeginLoopEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.EndLoop_3011"
               name="%metatype.name.EndLoop_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EndLoop"
               edithelper="KragsteinMethod.diagram.edit.helpers.EndLoopEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Output_3012"
               name="%metatype.name.Output_3012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Output"
               edithelper="KragsteinMethod.diagram.edit.helpers.OutputEditHelper">
            <param name="semanticHint" value="3012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.Input_3013"
               name="%metatype.name.Input_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Input"
               edithelper="KragsteinMethod.diagram.edit.helpers.InputEditHelper">
            <param name="semanticHint" value="3013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.LoopArrow_3014"
               name="%metatype.name.LoopArrow_3014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LoopArrow"
               edithelper="KragsteinMethod.diagram.edit.helpers.LoopArrowEditHelper">
            <param name="semanticHint" value="3014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.EmptyConnector_3015"
               name="%metatype.name.EmptyConnector_3015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EmptyConnector"
               edithelper="KragsteinMethod.diagram.edit.helpers.EmptyConnectorEditHelper">
            <param name="semanticHint" value="3015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.End_3016"
               name="%metatype.name.End_3016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="End"
               edithelper="KragsteinMethod.diagram.edit.helpers.EndEditHelper">
            <param name="semanticHint" value="3016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.BranchConnection_4001"
               name="%metatype.name.BranchConnection_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BranchConnection"
               edithelper="KragsteinMethod.diagram.edit.helpers.BranchConnectionEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <specializationType
               id="KMethod.diagram.BranchConnection_4002"
               name="%metatype.name.BranchConnection_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="KMethod.diagram.BranchConnection_4001"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.IconConnection_4003"
               name="%metatype.name.IconConnection_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="IconConnection"
               edithelper="KragsteinMethod.diagram.edit.helpers.IconConnectionEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <specializationType
               id="KMethod.diagram.IconConnection_4004"
               name="%metatype.name.IconConnection_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="KMethod.diagram.IconConnection_4003"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <metamodelType
               id="KMethod.diagram.CaseConnection_4005"
               name="%metatype.name.CaseConnection_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CaseConnection"
               edithelper="KragsteinMethod.diagram.edit.helpers.CaseConnectionEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="KragsteinMethod.ecore">
         <specializationType
               id="KMethod.diagram.CaseConnection_4006"
               name="%metatype.name.CaseConnection_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="KMethod.diagram.CaseConnection_4005"/>
            <param name="semanticHint" value="4006"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="KMethod.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="KMethod.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="KMethod.diagram.TypeContext">
         <elementType ref="KMethod.diagram.Method_1000"/>
         <elementType ref="KMethod.diagram.Header_2001"/>
         <elementType ref="KMethod.diagram.Branch_2002"/>
         <elementType ref="KMethod.diagram.Route_3001"/>
         <elementType ref="KMethod.diagram.Action_3002"/>
         <elementType ref="KMethod.diagram.Question_3003"/>
         <elementType ref="KMethod.diagram.Choice_3004"/>
         <elementType ref="KMethod.diagram.Case_3005"/>
         <elementType ref="KMethod.diagram.Headline_3006"/>
         <elementType ref="KMethod.diagram.Adress_3007"/>
         <elementType ref="KMethod.diagram.Insertion_3008"/>
         <elementType ref="KMethod.diagram.Shelf_3009"/>
         <elementType ref="KMethod.diagram.BeginLoop_3010"/>
         <elementType ref="KMethod.diagram.EndLoop_3011"/>
         <elementType ref="KMethod.diagram.Output_3012"/>
         <elementType ref="KMethod.diagram.Input_3013"/>
         <elementType ref="KMethod.diagram.LoopArrow_3014"/>
         <elementType ref="KMethod.diagram.EmptyConnector_3015"/>
         <elementType ref="KMethod.diagram.End_3016"/>
         <elementType ref="KMethod.diagram.BranchConnection_4001"/>
         <elementType ref="KMethod.diagram.BranchConnection_4002"/>
         <elementType ref="KMethod.diagram.IconConnection_4003"/>
         <elementType ref="KMethod.diagram.IconConnection_4004"/>
         <elementType ref="KMethod.diagram.CaseConnection_4005"/>
         <elementType ref="KMethod.diagram.CaseConnection_4006"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="KMethod.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="KMethod.diagram"
           properties="isURIEditorInput"
           class="KragsteinMethod.diagram.part.KragsteinMethodUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="KMethod.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="KMethod.diagram"
           properties="isShortcut"
           class="KragsteinMethod.diagram.part.KragsteinMethodShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="KMethod.diagram.resourceContent"/>
			<contentExtension pattern="KMethod.diagram.domainResourceContent"/>
            <contentExtension pattern="KMethod.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="KMethod.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="KMethod.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="KragsteinMethod.diagram.navigator.KragsteinMethodNavigatorContentProvider" 
            labelProvider="KragsteinMethod.diagram.navigator.KragsteinMethodNavigatorLabelProvider"
            icon="icons/obj16/KragsteinMethodDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="kragsteinmethod_diagram"/>
               </and>
               <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="KMethod.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="KMethod.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="KMethod.diagram.navigatorSorter" 
               class="KragsteinMethod.diagram.navigator.KragsteinMethodNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="kragsteinmethod_diagram"/>
                  </and>
                  <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="KMethod.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="KragsteinMethod.diagram.navigator.KragsteinMethodDomainNavigatorContentProvider" 
            labelProvider="KragsteinMethod.diagram.navigator.KragsteinMethodDomainNavigatorLabelProvider"
            icon="icons/obj16/KragsteinMethodDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="kragsteinmethod"/>
               </and>
               <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="KMethod.diagram.navigatorActionProvider"
            class="KragsteinMethod.diagram.navigator.KragsteinMethodNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="KMethod.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="KMethod.diagram.navigatorLinkHelper"
            class="KragsteinMethod.diagram.navigator.KragsteinMethodNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="KMethod.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="KragsteinMethod.diagram.navigator.KragsteinMethodAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="KragsteinMethod.diagram.part.KragsteinMethodDiagramUpdateCommand"
         description="%update.diagram.description"
         id="KragsteinMethod.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="KragsteinMethod.diagram.updateDiagram"
         contextId="KragsteinMethod.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="KMethod.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="KragsteinMethod.diagram.edit.parts.MethodEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="KMethod.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="KragsteinMethod.diagram.part.KragsteinMethodDiagramEditorID"
         defaultHandler="KragsteinMethod.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
