<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="kragstein_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="kragstein_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="kragstein.diagram.part.KragsteinDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/KragsteinDiagramFile.gif"
         extensions="kragstein_diagram"
         default="true"
         class="kragstein.diagram.part.KragsteinDiagramEditor"
         matchingStrategy="kragstein.diagram.part.KragsteinMatchingStrategy"
         contributorClass="kragstein.diagram.part.KragsteinDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="kragstein.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/KragsteinDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="kragstein.diagram.part.KragsteinCreationWizard"
  	     id="kragstein.diagram.part.KragsteinCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="Kragstein.diagram.InitDiagram"
            nameFilter="*.kragstein"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="kragstein.diagram.part.KragsteinInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="Kragstein.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="KragsteinPresentation">
         <Priority name="Lowest"/>
         <ViewId id="kragstein.diagram.part.KragsteinDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="KragsteinPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="kragstein.diagram.part.KragsteinDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="KragsteinRender">
         <Priority name="Lowest"/>
         <ViewId id="kragstein.diagram.part.KragsteinDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="kragstein.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="Kragstein.diagram.general"
            name="%prefpage.Kragstein.diagram.general"
            class="kragstein.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="Kragstein.diagram.appearance"
            name="%prefpage.Kragstein.diagram.appearance"
            category="Kragstein.diagram.general"
            class="kragstein.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="Kragstein.diagram.connections"
            name="%prefpage.Kragstein.diagram.connections"
            category="Kragstein.diagram.general"
            class="kragstein.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="Kragstein.diagram.printing"
            name="%prefpage.Kragstein.diagram.printing"
            category="Kragstein.diagram.general"
            class="kragstein.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="Kragstein.diagram.rulersAndGrid"
            name="%prefpage.Kragstein.diagram.rulersAndGrid"
            category="Kragstein.diagram.general"
            class="kragstein.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="Kragstein.diagram"
            labelProvider="kragstein.diagram.sheet.KragsteinSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="Kragstein.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="Kragstein.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="kragstein.diagram.sheet.KragsteinPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="kragstein.diagram.navigator.KragsteinAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="kragstein.diagram.providers.KragsteinViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Kragstein"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003,4004,4005,4006"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="kragstein.diagram.providers.KragsteinEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Kragstein"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003,4004,4005,4006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="kragstein.diagram.providers.assistants.KragsteinModelingAssistantProviderOfPackageEditPart">
         <Priority name="Lowest"/>
         <object class="kragstein.diagram.edit.parts.PackageEditPart" id="Package_1000"/>
         <context elements="Package_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="kragstein.diagram.providers.assistants.KragsteinModelingAssistantProviderOfClassEditPart">
         <Priority name="Lowest"/>
         <object class="kragstein.diagram.edit.parts.ClassEditPart" id="Class_2001"/>
         <context elements="Class_2001"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="kragstein.diagram.providers.KragsteinIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="kragstein.diagram.providers.KragsteinParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Package_1000"
               name="%metatype.name.Package_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Package"
               edithelper="kragstein.diagram.edit.helpers.PackageEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Class_2001"
               name="%metatype.name.Class_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Class"
               edithelper="kragstein.diagram.edit.helpers.ClassEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Composition_4001"
               name="%metatype.name.Composition_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Composition"
               edithelper="kragstein.diagram.edit.helpers.CompositionEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Dependency_4002"
               name="%metatype.name.Dependency_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Dependency"
               edithelper="kragstein.diagram.edit.helpers.DependencyEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Association_4003"
               name="%metatype.name.Association_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Association"
               edithelper="kragstein.diagram.edit.helpers.AssociationEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Realization_4004"
               name="%metatype.name.Realization_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Realization"
               edithelper="kragstein.diagram.edit.helpers.RealizationEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Generalization_4005"
               name="%metatype.name.Generalization_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Generalization"
               edithelper="kragstein.diagram.edit.helpers.GeneralizationEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///kragstein.ecore">
         <metamodelType
               id="Kragstein.diagram.Aggregation_4006"
               name="%metatype.name.Aggregation_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Aggregation"
               edithelper="kragstein.diagram.edit.helpers.AggregationEditHelper">
            <param name="semanticHint" value="4006"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="Kragstein.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="Kragstein.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="Kragstein.diagram.TypeContext">
         <elementType ref="Kragstein.diagram.Package_1000"/>
         <elementType ref="Kragstein.diagram.Class_2001"/>
         <elementType ref="Kragstein.diagram.Composition_4001"/>
         <elementType ref="Kragstein.diagram.Dependency_4002"/>
         <elementType ref="Kragstein.diagram.Association_4003"/>
         <elementType ref="Kragstein.diagram.Realization_4004"/>
         <elementType ref="Kragstein.diagram.Generalization_4005"/>
         <elementType ref="Kragstein.diagram.Aggregation_4006"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="Kragstein.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="Kragstein.diagram"
           properties="isURIEditorInput"
           class="kragstein.diagram.part.KragsteinUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="Kragstein.diagram.resourceContent"/>
			<contentExtension pattern="Kragstein.diagram.domainResourceContent"/>
            <contentExtension pattern="Kragstein.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="Kragstein.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="Kragstein.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="kragstein.diagram.navigator.KragsteinNavigatorContentProvider" 
            labelProvider="kragstein.diagram.navigator.KragsteinNavigatorLabelProvider"
            icon="icons/obj16/KragsteinDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="kragstein_diagram"/>
               </and>
               <instanceof value="kragstein.diagram.navigator.KragsteinAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="kragstein.diagram.navigator.KragsteinAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="Kragstein.diagram.navigatorSorter" 
               class="kragstein.diagram.navigator.KragsteinNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="kragstein_diagram"/>
                  </and>
                  <instanceof value="kragstein.diagram.navigator.KragsteinAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="Kragstein.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="kragstein.diagram.navigator.KragsteinDomainNavigatorContentProvider" 
            labelProvider="kragstein.diagram.navigator.KragsteinDomainNavigatorLabelProvider"
            icon="icons/obj16/KragsteinDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="kragstein"/>
               </and>
               <instanceof value="kragstein.diagram.navigator.KragsteinDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="kragstein.diagram.navigator.KragsteinDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="Kragstein.diagram.navigatorActionProvider"
            class="kragstein.diagram.navigator.KragsteinNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="kragstein.diagram.navigator.KragsteinAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="Kragstein.diagram.navigatorLinkHelper"
            class="kragstein.diagram.navigator.KragsteinNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="Kragstein.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="kragstein.diagram.navigator.KragsteinAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="kragstein.diagram.part.KragsteinDiagramUpdateCommand"
         description="%update.diagram.description"
         id="kragstein.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="kragstein.diagram.updateDiagram"
         contextId="kragstein.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="Kragstein.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="kragstein.diagram.part.KragsteinDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="kragstein.diagram.edit.parts.PackageEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="kragstein.diagram.part.KragsteinDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="Kragstein.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="kragstein.diagram.part.KragsteinDiagramEditorID"
         defaultHandler="kragstein.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
